body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background: rgb(34,193,195);
    background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1);
}









.total {
    margin-top: 20px;
    font-weight: bold;
}




   

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding-bottom:50px;
    padding-top:50px;
  }
  
  h1 {
    text-align: center;
    margin: 13px 0;
  }
  h2 {
    text-align: center;
    margin: 13px 0;
  }
  
  .formContainer form {
    width: 40%;
    max-width: 450px;
    border: 1px solid #dfefef;
    padding: 30px;
    border-radius: 10px;
    background-color: #fbf5f5;
    box-shadow: 2px 12px 17px -7px #383838;
    border-radius: 15px;
  }
  
  .uiForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
  }
  
  .formField {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .formField input {
    border: 1px solid grey;
    padding: 20px;
    border-radius: 4px;
  }
  
  .formField input:focus {
    outline: none;
  }
  
  .formField label {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
  }
  
  button {
    background: #0563b4;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  button:hover {
    background-color: #0e528d;}
    table {
        width: 100%;
        border-collapse: collapse;
    }
    
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    } 
    
    th {
        background-color: #f2f2f2;
    }